    .rounded-image{ 
      border-radius: 15px 5px 15px 5px; 
      overflow: hidden;
    }

    .cirle-image{
      border-radius: 50%; 
      overflow: hidden;
    }

    .circle img {
      transition: 1s ease;
      }
      
      .circle img:hover {
      border-radius:50%;
      transition: 1s ease;
      }